{% load static %}
<link rel= "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>

    body{
        background-color: #638CB8;
    }
   
    input{
        width: 100%;
        margin: 8px;
        box-sizing: border-box;
        background: #1E1E1E;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    input ::placeholder{
        color: #D3D3D3;
    }

    .submit{
        background-color: #6BA3E8
        
    }

    .center-column{
        display: flex;
        padding: 40px 72px;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 0;
        align-self: stretch;
        width:600px;
        margin:20px auto;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    }

    .item-row{
        display: flex;
        padding: 16px;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        background-color: #1E1E1E;
        margin: 10px;
        padding: 20px;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        box-shadow:0px -1px 10px -4px rgba(0,0,0,0.75);
    }

    .btn-danger{
        background-color: #FFAE19;
        border-color: #E59400;
    }
    
    .new-task{
        display: flex;
        padding: 24px;
        align-items: center;
        gap: 18px;
        align-self: stretch;
        border-radius: 16px;
        border: 2px solid rgba(255, 255, 255, 0.10);
        background: #1E1E1E;
    }
   

</style>



<div class = "center-column">
    <div style="color: black; font-size: 24px; font-family: Inter; font-weight: 800; word-wrap: break-word">TO-DO LIST</div>
    <form method="POST" actions = "/">
        {%csrf_token%}
        {{form.title}}
        <input class="btn btn-info" type= "submit" name= "Create Task">
    </form>

    <div class = "todo-list">
        {%for task in tasks%}
            <div class = "item-row">
                <a class="btn btn-sm btn-info" href = "{% url 'update_task' task.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 20H21M3 20H4.67454C5.16372 20 5.40832 20 5.63849 19.9447C5.84256 19.8957 6.03765 19.8149 6.2166 19.7053C6.41843 19.5816 6.59138 19.4086 6.93729 19.0627L19.5 6.49998C20.3285 5.67156 20.3285 4.32841 19.5 3.49998C18.6716 2.67156 17.3285 2.67156 16.5 3.49998L3.93726 16.0627C3.59136 16.4086 3.4184 16.5816 3.29472 16.7834C3.18506 16.9624 3.10425 17.1574 3.05526 17.3615C3 17.5917 3 17.8363 3 18.3255V20Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg></a>
                <a class="btn btn-sm btn-danger" href = "{% url 'delete' task.id %}"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 3H15M3 6H21M19 6L18.2987 16.5193C18.1935 18.0975 18.1409 18.8867 17.8 19.485C17.4999 20.0118 17.0472 20.4353 16.5017 20.6997C15.882 21 15.0911 21 13.5093 21H10.4907C8.90891 21 8.11803 21 7.49834 20.6997C6.95276 20.4353 6.50009 20.0118 6.19998 19.485C5.85911 18.8867 5.8065 18.0975 5.70129 16.5193L5 6M10 10.5V15.5M14 10.5V15.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg></a>
                {%if task.complete == True %}
                <strike>{{task}}</strike>
                {%else%}
                <span>{{task}}</span>
                {% endif %}
            </div>
            {% endfor %}
    </div>

        

</div>

