body{
    display: flex;
    width: 1512px;
    height: 982px;
    justify-content: center;
    align-items: center;
}

item-row{
    background-color: #1E1E1E;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow:0px -1px 10px -4px rgba(0,0,0,0.75);
}